!**/HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
oupcommon/target/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
oupcommon/target/classes/**/*.class
oupcommon/target/classes/com/oup/common/OupcommonApplication.class
*.class
*.class
oupcommon/target/classes/com/oup/common/OupcommonApplication.class
oupcommon/target/classes/com/oup/common/policy/OUPCommonRoutePolicy.class
oupcommon/target/classes/com/oup/common/route/InterceptRoute.class
oupcommon/target/classes/com/oup/common/route/SampleRoute.class
oupcommon/target/test-classes/com/oup/common/OupcommonApplicationTests.class
